@import url('https://fonts.cdnfonts.com/css/brushstroke');

* {
    margin: 0;
    padding: 0;
    background-color: transparent;
    list-style: none;
    text-decoration: none;
}

header {
    height: 90px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 7px;
    background-color: black;
}

nav {
    width: 60%;
}

ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

li {
    list-style: none;
    color: aliceblue;
    cursor: pointer;
    font-size: 19px;
    transition: .5s;
    font-family: 'Brushstroke', sans-serif;
}

li:hover {
    color: red
}

body{
    background-color: black;
}

#logo {
    width: 150px;
    height: auto;
}

#conteiner1{
    width: 100%;
    height: 800px;
    margin-top: 10px;
    display: flex;
    background-image: url(https://p4.wallpaperbetter.com/wallpaper/672/831/605/persona-series-shin-megami-tensei-series-wallpaper-preview.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.conteudoPrimario{
    background-color: transparent;
    color: white;
    font-family: 'Brushstroke', sans-serif;
    width: 30%;
    height: 250px;
    margin-top: 200px;
    margin-left: 10px;
    text-align: center;
}

footer {
    height: 300px;
    margin-top: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

span {
    color: white;
    font-family: 'Brushstroke', sans-serif;
}

.footerNavigation {
    display: none;
}

.footerList {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 768px) {
    .footerNavigation {
        display: block;
    }

    nav {
        display: none;
    }

   #conteiner1 {
    width: 100%;
    height: 1080px;
    display: flex;
    flex-direction: column;
    background-image: url(https://preview.redd.it/i-edited-a-black-frost-iphone-wallpaper-to-complement-a-v0-b6f0wnp3gvpa1.png?width=1080&crop=smart&auto=webp&s=e5687010fdc1d114ce7f8779075488c6f85042d1);
    background-position: 90% center
   }

   .conteudoPrimario {
    width: 95%;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
   }
}